{% extends "base.html" %}

{% block cabecalho %}

<header class="cabecalho">
    <section>
      <div class="cabecalho_logo">
        <img src="/projeto_sol_do_caribe/img/Banner.jpg" alt="logo Sol do Caribe" />
        <img src="/projeto_sol_do_caribe/img/Nome do banner.png" alt="nome da logo" />
      </div>
    </section>

  <!-- MENU DE NAVEGAÇÃO -->
  <nav class="cabecalho__menu">
                    
    <!-- LISTA DE LINKS -->
    <ul>
        <li>
            <a href="#">Home</a>
        </li>
        <li>
            <a href="#">produtos</a>
        </li>
        <li>
            <a href="#">Contato</a>
        </li>
        <li>
            <a href="#">politica de privacidade</a>
        </li>
        <li>
            <a href="#">termos e servicos</a>
        </li>
        <li>
            <a href="#">agendamento</a>
        </li>
    </ul>
</nav>
<div class="cabecalho__menuConfiguracao">
  <ul>
      <li>
          <a href="#">
              <img src="/projeto_sol_do_caribe/img/pesquisa.png" alt="pesquisa">
          </a>
      </li>
      <li>
          <a href="#">produtos</a>
      </li>
      <li>
          <a href="#">
              <img src="/projeto_sol_do_caribe/img/presente.png" alt="presente">
          </a>
      </li>
      <li>
          <a href="#">
              <img src="/projeto_sol_do_caribe/img/notificacao.png" alt="notificacao">
          </a>
      </li>
      <li>
          <a href="#">
              <img src="/projeto_sol_do_caribe/img/ProfileIMG.png" alt="Profile IMG">
          </a>
      </li>
  </ul>
</div>
</div>
</header>

  {% endblock %}