{% load static %}

<link rel="stylesheet" href="{% static 'css/cabecalho.css' %}" />
<section class="cabecalho">
    <section>
      <div class="cabecalho_logo">
        <img src="{% static 'img/Banner.png' %}" alt="logo Sol do Caribe" />
        <img id="2" src="{% static 'img/Nome do banner.png' %}" alt="nome da logo" />
      </div>
    </section>
<!-- MENU DE NAVEGAÇÃO -->
<nav class="cabecalho__menu">
                      
    <!-- LISTA  MENU -->
    <ul>
        <li>
            <a href="#">Home</a>
        </li>
        <li>
            <a href="produtos.html">produtos</a>
        </li>
        <li>
            <a href="contato.html">Contato</a>
        </li>
        <li>
            <a href="politica_de_privacidade.html">politica de privacidade</a>
        </li>
        <li>
            <a href="termos_e_servicos.html">termos e servicos</a>
        </li>
        <li>
            <a href="agendamento.html">agendamento</a>
        </li>
    </ul>
  </nav>
  </div>
  </header>