{% extends "base.html" %}

{% block cabecalho %}

<header class="cabecalho">
    <section>
      <div class="cabecalho_logo">
        <img src="./src/assets/Banner.jpg" alt="logo Sol do Caribe" />
        <img src="./src/assets/Nome do banner.png" alt="nome da logo" />
      </div>
    </section>
    <div>
      <ul class="cabecalho_menu">
        <li><a>Home</a></li>
        <li><a>produtos</a></li>
        <li><a>Contato</a></li>
        <li><a>politica de privacidade</a></li>
        <li><a>termos e servicos</a></li>
      </ul>
    </div>
  </header>

  {% endblock %}