{% load static %}

<link rel="stylesheet" href="{% static 'css/login.css' %}" />
<body>
    <main id="container_principal">
        <img src="{% static 'img/Nome do banner.png' %}" alt="Nome do banner">

        <section id="section_opcoes">
            <div class="col-md-10 mx-auto col-lg-5">
              <div id="container_titulo">
                

              <p>Faça o seu Cadastro</p>

            </div>
            <!--Formulário de Login-->
                <form class="p-4 p-md-5 border rounded-3 bg-light">
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Digite seu Usuário">
                    <label for="floatingText">Usuário</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingEmail" placeholder="Digite seu e-mail">
                    <label for="floatingEmail">E-mail</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Senha">
                    <label for="floatingPassword">Senha</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Confirme Senha">
                    <label for="floatingPassword">Confirme Senha</label>
                  </div>
                  <div class="checkbox mb-3">
                    <label>
                      <input type="checkbox" value="remember-me">Lembre-se
                    </label>
                  </div>
                  <button class="w-100 btn btn-lg btn-primary botao" type="submit"><a class="botao" href="{% static 'cadastro.html' %}">Inscreva-se</a></button>
                  <hr class="my-4">
                </form>
              </div>
        </section>
    </main>
  </body>