
<title>Faça o seu Cadastro</title>

    <section>
            <div>
                <!--Formulário de Login-->
                <form>
                  
                  <div>
                    <input type="text" id="floatingInput" placeholder="name">
                    <label for="floatingText">Nome Completo</label>
                  </div>

                  <div>
                    <input type="email" id="floatingEmail" placeholder="name@example.com">
                    <label for="floatingEmail">Endereço de e-mail</label>
                  </div>
                  
                  <div>
                    <input type="password" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Senha</label>
                  </div>
                  
                  <div>
                    <input type="password" id="Password" placeholder="Password">
                    <label for="floatingPassword">Confirmar Senha</label>
                  </div>
                  
                  <div>
                    <label>
                      <input type="checkbox" value="">Lembre-se</label>
                  </div>
                  
                  <button type="submit"><a href="index.html">Inscreva-se</a></button>
                </form>
              </div>
        </section>