{% extends "base.html"%}
{% load static %}
{% block content %}
<main>
  <!-- SEÇÃO PRODUTOS -->
  <section class="secaoProdutos">
    <div class="container">
      <!-- LISTA DE PRODUTOS -->
      <ul class="produtosLista">
        <!-- ITEM DE PRODUTO -->
        <li class="cardProduto">
          <img
            src="{% static 'img/Creme Bronzeador de Café com Açaí 950g.jpg' %}"
            alt="Creme Bronzeador de Café com Açaí 950g"
          />
          <h3>Creme Bronzeador de Café com Açaí 950g</h3>
          <p>R$95,00</p>
          <button type="button">Adicionar</button>
        </li>

        <!-- ITEM DE PRODUTO -->
        <li class="cardProduto">
          <img
            src="{% static 'img/Oleo para Brozeamento Positivo e Negativo.jpg' %}"
            alt="Oleo para Brozeamento Positivo e Negativo"
          />
          <h3>Oleo para Brozeamento Positivo e Negativo</h3>
          <p>R$85,00</p>
          <button type="button">Adicionar</button>
        </li>

        <!-- ITEM DE PRODUTO -->
        <li class="cardProduto">
          <img
            src="{% static 'img/Parafina de Chocolate com oleo de Argan.jpg' %}"
            alt="Parafina de Chocolate com oleo de Argan"
          />
          <h3>Parafina de Chocolate com oleo de Argan</h3>
          <p>R$95,00</p>
          <button type="button">Adicionar</button>
        </li>

        <!-- ITEM DE PRODUTO -->
        <li class="cardProduto">
          <img
            src="{% static 'img/Creme Bronzeador de café com Açaí 950g.jpg' %}"
            alt="Creme Bronzeador de café com Açaí 950g"
          />
          <h3>Creme Bronzeador de café com Açaí 950g</h3>
          <p>R$95,00</p>
          <button type="button">Adicionar</button>
        </li>

        <!-- ITEM DE PRODUTO -->
        <li class="cardProduto">
          <img
            src="{% static 'img/Parafina Ativadora.jpg' %}"
            alt="Parafina Ativadora"
          />
          <h3>Parafina Ativadora</h3>
          <p>R$95,00</p>
          <button type="button">Adicionar</button>
        </li>

        <!-- ITEM DE PRODUTO -->
        <li class="cardProduto">
          <img
            src="{% static 'img/Gel Calmante pós Sol.jpg' %}"
            alt="Gel Calmante pós Sol"
          />
          <h3>Gel Calmante pós Sol</h3>
          <p>R$95,00</p>
          <button type="button">Adicionar</button>
        </li>

        <!-- ITEM DE PRODUTO -->
        <li class="cardProduto">
          <img
            src="{% static 'img/Parafina Ativadora Coco e Cenoura.jpg' %}"
            alt="Parafina Ativadora Coco e Cenoura"
          />
          <h3>Parafina Ativadora Coco e Cenoura</h3>
          <p>R$95,00</p>
          <button type="button">Adicionar</button>
        </li>

        <!-- ITEM DE PRODUTO -->
        <li class="cardProduto">
          <img
            src="{% static 'img/Acelerador de Brozeamento Natural Bronze para Peles Claras.jpg' %}"
            alt="Acelerador de Brozeamento Natural Bronze para Peles Claras"
          />
          <h3>Acelerador de Brozeamento Natural Bronze para Peles Claras</h3>
          <p>R$95,00</p>
          <button type="button">Adicionar</button>
        </li>

        <!-- ITEM DE PRODUTO -->
        <li class="cardProduto">
          <img
            src="{% static 'img/Acelerador e Fixador para Bronzeamento Natuaral.jpg' %}"
            alt="Acelerador e Fixador para Bronzeamento Natuaral"
          />
          <h3>Acelerador e Fixador para Bronzeamento Natuaral</h3>
          <p>R$180,00</p>
          <button type="button">Adicionar</button>
        </li>

        <!-- ITEM DE PRODUTO -->
        <li class="cardProduto">
          <img
            src="{% static 'img/Loção Auto Bronzeadora Vip Brozeamento a Vapor.png' %}"
            alt="Loção Auto Bronzeadora Vip Brozeamento a Vapor"
          />
          <h3>Loção Auto Bronzeadora Vip Brozeamento a Vapor</h3>
          <p>R$549,00</p>
          <button type="button">Adicionar</button>
        </li>

        <!-- ITEM DE PRODUTO -->
        <li class="cardProduto">
          <img src="{% static 'img/Gel Calmante pós Sol.png' %}" alt="Gel Calmante pós Sol" />
          <h3>Gel Calmante pós Sol</h3>
          <p>R$29,99</p>
          <p></p>
          <button type="button">Adicionar</button>
        </li>

        <!-- ITEM DE PRODUTO -->
        <li class="cardProduto">
          <img src="{% static 'img/Mini Comressor Portatil.png' %}" alt="Mini Comressor Portatil" />
          <h3>Mini Comressor Portatil</h3>
          <p>R$550,00</p>
          <button type="button">Adicionar</button>
        </li>

        <!-- ITEM DE PRODUTO -->
        <li class="cardProduto">
          <img src="{% static 'img/Ativador de Marquinha.png' %}" alt="Ativador de Marquinha" />
          <h3>Ativador de Marquinha</h3>
          <p>R$30,00</p>
          <button type="button">Adicionar</button>
        </li>

        <!-- ITEM DE PRODUTO -->
        <li class="cardProduto">
          <img src="{% static 'img/Fps8 Bronzeador Spray Banana Bolt.png' %}" alt="Fps8 Bronzeador Spray Banana Bolt" />
          <h3>Fps8 Bronzeador Spray Banana Bolt</h3>
          <p>R$50,00</p>
          <button type="button">Adicionar</button>

          <!-- ITEM DE PRODUTO -->
        <li class="cardProduto">
          <img src="{% static 'img/Oléo de Cáfe.png' %}" alt="Oléo de Cáfe" />
          <h3>Oléo de Cáfe</h3>
          <p>R$150,00</p>
          <button type="button">Adicionar</button>

        </li>
      </ul>
    </div>
  </section>
</main>

{% endblock %}