{% extends "base.html" %}
{% block index %}
<main>

    <!-- SEÇÃO PRODUTOS -->
    <section class="secaoProdutos">
        
        <div class="container">
            <!-- LISTA DE PRODUTOS -->
            <ul class="produtosLista">

                <!-- ITEM DE PRODUTO -->
                <li class="cardProduto">
                    <img src="./src/assets/Creme Bronzeador de Café com Açaí 950g.jpg" alt="Creme Bronzeador de Café com Açaí 950g">
                    <h3>Creme Bronzeador de Café com Açaí 950g</h3>
                    <p>R$95,00</p>
                    <button type="button">Adicionar</button>
                </li>

                <!-- ITEM DE PRODUTO -->
                <li class="cardProduto">
                    <img src="./src/assets/Oleo para Brozeamento Positivo e Negativo.jpg" alt="Oleo para Brozeamento Positivo e Negativo">
                    <h3>Oleo para Brozeamento Positivo e Negativo</h3>
                    <p>R$85,00</p>
                    <button type="button">Adicionar</button>
                </li>

                <!-- ITEM DE PRODUTO -->
                <li class="cardProduto">
                    <img src="./src/assets/Parafina de Chocolate com oleo de Argan.jpg" alt="Parafina de Chocolate com oleo de Argan">
                    <h3>Parafina de Chocolate com oleo de Argan</h3>
                    <p>R$95,00</p>
                    <button type="button">Adicionar</button>
                </li>

                <!-- ITEM DE PRODUTO -->
                <li class="cardProduto">
                    <img src="./src/assets/Creme Bronzeador de Café com Açaí 950g.jpg" alt="Creme Bronzeador de café com Açaí 950g">
                    <h3>Creme Bronzeador de café com Açaí 950g</h3>
                    <p>R$95,00</p>
                    <button type="button">Adicionar</button>
                </li>

                <!-- ITEM DE PRODUTO -->
                <li class="cardProduto">
                    <img src="./src/assets/Parafina Ativadora.jpg" alt="Parafina Ativadora">
                    <h3>Parafina Ativadora</h3>
                    <p>R$95,00</p>
                    <button type="button">Adicionar</button>
                </li>

                <!-- ITEM DE PRODUTO -->
                <li class="cardProduto">
                    <img src="./src/assets/Acelerador de Brozeamento Natural.jpg" alt="Acelerador de Brozeamento Natural Bronze">
                    <h3>Acelerador de Brozeamento Natural Bronze</h3>
                    <p>R$95,00</p>
                    <button type="button">Adicionar</button>
                </li>

                <!-- ITEM DE PRODUTO -->
                <li class="cardProduto">
                    <img src="./src/assets/Parafina Ativadora coco e Cenoura.jpg" alt="Parafina Ativadora Coco e Cenoura">
                    <h3>Parafina Ativadora Coco e Cenoura</h3>
                    <p>R$95,00</p>
                    <button type="button">Adicionar</button>
                </li>

                <!-- ITEM DE PRODUTO -->
                <li class="cardProduto">
                    <img src="./src/assets/Acelerador de Brozeamento Natural Bronze para Peles Claras.jpg" alt="Acelerador de Brozeamento Natural Bronze para Peles Claras">
                    <h3>Acelerador de Brozeamento Natural Bronze para Peles Claras</h3>
                    <p>R$95,00</p>
                    <button type="button">Adicionar</button>
                </li>

                <!-- ITEM DE PRODUTO -->
                <li class="cardProduto">
                    <img src="./src/assets/Acelerador e Fixador para Bronzeamento Natuaral.jpg" alt="Acelerador e Fixador para Bronzeamento Natuaral">
                    <h3>Acelerador e Fixador para Bronzeamento Natuaral</h3>
                    <p>R$180,00</p>
                    <button type="button">Adicionar</button>
                </li>

                <!-- ITEM DE PRODUTO -->
                <li class="cardProduto">
                    <img src="./src/assets/Loção Auto Bronzeadora Vip Brozeamento a Vapor.png" alt="Loção Auto Bronzeadora Vip Brozeamento a Vapor">
                    <h3>Loção Auto Bronzeadora Vip Brozeamento a Vapor</h3>
                    <p>R$549,00</p>
                    <button type="button">Adicionar</button>
                </li>

            </ul>

        </div>

    </section>

</main>
{% endblock %}