{% load static %}


{% block content %}
<!--Login-->
<section>

  <div class="container">
    <img src="{% static 'img/Nome do banner.png' %}" alt="Sol do caribe Logo">
  </div>

  <div>

    <!--Formulário de Login-->
    <form>
      <div>
        <input type="email" name="" id="" placeholder="Digite aqui o seu Usuario" />
        <label for="">Nome do Usuario</label>
      </div>
      <div>
        <input type="password" name="" id="" placeholder="Digite aqui a sua Senha" />
        <label for="">Senha</label>
      </div>
      <div>
        <label>
          <input type="checkbox" value="remembre-se" />Lembre-se</label>
      </div>
      <button type="submit"><a href="base.html">Entrar</a>
      </button>
      <small>Não possui uma conta? <a href="Cadastro.html">Cadastre-se</a></small>
    </form>
  </div>
</section>

{% endblock %}