
<body>
    <h1>POLITICA DE PRIVACIDADE</h1>

<div>
<p>
    Você é um cliente muito especial para à Sol do Caribe Cosmetics. Tanto no meio virtual como no mundo real, nossa tarefa é zelar por sua privacidade e a garantia do sigilo de todas as informações que você nos fornecer. Para nós sua confiança é fundamental.
    Este documento, explica como o site lida com as informações que nos são fornecidas. Afinal, queremos fazer parte do seu dia-a-dia, oferecendo sempre os melhores produtos e serviços.
    Qualquer dúvida entre em contato conosco por telefone ou e-mail, acessando nossa página de contato.</p>
<p>
    1º Coleta de suas informações <br>
    Precisamos de suas informações quando você: <br>
    · se cadastra para comprar produtos <br>
    · responde a uma pesquisa on-line <br>
    · participa de uma promoção <br>
    · se cadastra para receber as novidades e promoções do site por e-mail <br>
</p>
<p>
    2ª O que fazemos com suas informações <br>
    A Sol do Caribe Cosmetics mantém suas informações em sigilo. <br>
    Quanto às suas informações pessoais, a Sol do Caribe Cosmetics não as cede a terceiros, sejam eles anunciantes ou parceiros, sob hipótese nenhuma. <br>
    Utilizamos seu e-mail somente para enviar produtos do site ou divulgar promoções e apenas quando tal prática tenha tido sua anuência. <br>
    A Sol do Caribe Cosmetics jamais enviará arquivos executáveis (.exe) através de email. Caso você receba um arquivo desse tipo não abra e entre imediatamente em contato conosco <br>
</p>
<p>
    3ª Compras com cartão de crédito <br>
O número do seu cartão de crédito é usado somente no processamento de sua compra, não sendo guardado nos arquivos da Sol do Caribe Cosmetics. Isto significa que todos os dados do cartão só são utilizados dentro do ambiente da própria administradora do cartão. Quando você efetua o pagamento de sua compra é dentro do sistema da operadora do cartão que você irá estar, ou seja, a Sol do Caribe Cosmetics não tem acesso a nenhum dado do seu cartão de crédito, e sim recebe apenas a autorização da operadora se a transação, que está sendo solicitada, está autorizada ou não. <br>
</p>
<p>
    4ª Segurança <br>
    Durante sua navegação na Sol do Caribe Cosmetics, você poderá visualizar uma mensagem de aviso do seu navegador, informando que existe itens não seguros no site. Isto significa que seu navegador identificou alguma imagem produzida e não criptografada. Cabe aqui esclarecer que na grande maioria das vezes estas imagens correspondem a banners, ilustrações, pop-ups, links, os quais propositalmente não são criptografados para possibilitar um acesso mais rápido e fácil à página a qual você está navegando e também porque não é necessário a criptografia. <br> Caso a mensagem apareça, basta clicar sobre o botão “continuar” , você será direcionado ao site via “https” e a conexão continuará segura, mesmo na presença destes itens não criptografados. Assim poderá dar andamento a sua visita a nossa loja, e com toda a segurança.
    Procure reparar também que, nas páginas onde você colocará seu dados cadastrais e os de cartão de crédito, esta mensagem do navegador não aparecerá, bem como você poderá observar o ícone de um “cadeado fechado”, na parte inferior direita do seu navegador “Internet Explorer” ; ou caso esteja utilizando o navegador Netscape poderá visualizar uma “chave fechada” no canto inferior esquerdo da tela. Além disso que a url da página também irá mudar de “ httt” para “ https” . <br> Essa é a sua garantia de que os dados não podem ser visualizados e nem manipulados por terceiros.
    Outro ponto importante, seria observar que, ao acessar uma página segura e por algum motivo se voltar a página anterior (através do botão Voltar ou Back do seu navegador), a mensagem de aviso mencionada acima poderá surgir novamente, pois você estará saindo de uma página com campos criptografados para uma página normal. <br>
    Vale lembrar ainda que a segurança do site é certificada , permitindo que pessoas físicas e jurídicas, em qualquer lugar do mundo, se comuniquem, transacionem e comercializem com segurança em meio eletrônico.<br>
</p>

<p>Tudo isso garante uma navegação e transação tranqüila e segura.</p>
</div>

</div>
<a href="base.html"><button>Entendi</button></a> 
</div>
</body>
