{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>projeto_sol_do_caribe</title>
    
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/static.css' %} ">
      

        </head>
  <body data-spy="scroll" data-target=".menu-navegacao" data-offset="80">

      <!-- Menu da aplicação -->
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-navegacao" >
                    <span class="icon-bar"></span>               
                <a class="navbar-brand" href="index.html">Sol do Caribe</a>
            </button> 
            </div> 

<h1>POLITICA DE PRIVACIDADE</h1>

<div><p class="politica">Você é um cliente muito especial para à Sol do Caribe Cosmetics, tanto no meio virtual como no mundo real.<br> Nossa tarefa é zelar por sua privacidade e a garantia do sigilo de todas as informações que você nos fornecer.<br> Para nós sua confiança é fundamental.
    Este documento, explica como o site lida com as informações que nos são fornecidas.<br></p>

<p>
   <strong> 1º Coleta de suas informações <br></strong>
    Precisamos de suas informações quando você: <br>
    · Se cadastra para comprar produtos <br>
    · Responde a uma pesquisa on-line <br>
    · Participa de uma promoção <br>
    · Se cadastra para receber as novidades e promoções do site por e-mail <br>
</p>
<p>
   <strong> 2ª O que fazemos com suas informações <br> </strong>
    A Sol do Caribe Cosmetics mantém suas informações em sigilo. <br>
    Quanto às suas informações pessoais, a Sol do Caribe Cosmetics não as cede a terceiros, sejam eles anunciantes ou parceiros, sob hipótese nenhuma. <br>
    Utilizamos seu e-mail somente para enviar produtos do site ou divulgar promoções e apenas quando tal prática tenha tido sua anuência. <br>
    A Sol do Caribe Cosmetics jamais enviará arquivos executáveis através do email. Caso você receba um arquivo desse tipo não abra e entre imediatamente em contato conosco <br>
</p>
<p>
   <strong> 3ª Compras com cartão de crédito <br> </strong>
O número do seu cartão de crédito é usado somente no processamento de sua compra, não sendo guardado nos arquivos da Sol do Caribe Cosmetics. Isto significa que todos os dados do cartão só são utilizados dentro do ambiente da própria administradora do cartão. Quando você efetua o pagamento de sua compra é dentro do sistema da operadora do cartão que você irá estar, ou seja, a Sol do Caribe Cosmetics não tem acesso a nenhum dado do seu cartão de crédito, e sim recebe apenas a autorização da operadora se a transação, que está sendo solicitada, está autorizada ou não. <br>
</p>
<p>
  <strong>  4ª Segurança <br> </strong>
    Durante sua navegação na Sol do Caribe Cosmetics, você poderá visualizar uma mensagem de aviso do seu navegador, informando que existe itens não seguros no site. Isto significa que seu navegador identificou alguma imagem produzida e não criptografada. Cabe aqui esclarecer que na grande maioria das vezes estas imagens correspondem a banners, ilustrações, pop-ups, links, os quais propositalmente não são criptografados para possibilitar um acesso mais rápido e fácil à página a qual você está navegando e também porque não é necessário a criptografia. <br> Caso a mensagem apareça, basta clicar sobre o botão “continuar” , você será direcionado ao site via “https” e a conexão continuará segura, mesmo na presença destes itens não criptografados. Assim poderá dar andamento a sua visita a nossa loja, e com toda a segurança.
    Procure reparar também que, nas páginas onde você colocará seu dados cadastrais e os de cartão de crédito, esta mensagem do navegador não aparecerá.<br>
</p>


Ao navegar por este site <strong>você aceita o uso de cookies</strong> para agilizar a sua experiência de compra.<br>

<div class="col-md-6">
    <div class="col-sm-4">
        <img src="/projeto_sol_do_caribe/static/img/Banner.png" class="img-responsive img-circle" />
    </div>
    <div class="col-sm-8">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-navegacao" >
            <span class="icon-bar"></span>               
        <a class="navbar-brand" href="index.html"><br>ENTENDI</a> 

<br>
<footer>
    <div class="Rodapé"><br>
        cdcd
        <small>Desenvolvido por:</small>
    <span>Sol do Caribe © 2022</span>
    </div>
  </footer>