{% extends "base.html" %}


{% block conteudo %}

<h1>TERMOS E SERVIÇOS</h1>

<div>
    <p>1. Regras Gerais <br>
        1. O produto deverá ser encaminhado à sol do caribeCosmetics na sua embalagem original, acompanhado dos manuais e acessórios, e obrigatoriamente deve estar acompanhado da nota fiscal de venda. Caso não tenha a nota fiscal de venda não aceitaremos a troca ou devolução;<br>
        2. Todos os produtos encaminhados à sol do caribe Cosmetics  por motivo de DEFEITO passarão por uma análise para verificação da falha relatada antes da aceitação do processo de troca ou devolução; Salientamos que não serão substituídos produtos que tenham sido danificados por mau uso. <br>
        3. Toda e qualquer solicitação de desistência deve ser feita diretamente à sol do caribe Cosmetics . <br>
        4. Caso o produto desejado para troca não esteja disponível na sol do caribe Cosmetics  no momento da solicitação de troca, o cliente poderá optar por um outro produto ou ressarcimento do valor. <br></p>
<p>2. Desistência por arrependimento <br>
    1. O prazo para desistência da compra é de até 7 dias corridos, a contar do recebimento do produto;<br>
    2. O produto deverá ser encaminhado à sol do caribe Cosmetics  na embalagem original, acompanhado dos manuais e acessórios, e obrigatoriamente deve estar acompanhado da nota fiscal de venda. Caso não tenha a via da nota fiscal de venda não aceitaremos a troca ou devolução; <br>
    3. O produto deverá ser devolvido sem indícios de uso e sem violação do lacre original do fabricante; <br>
    4. Toda e qualquer solicitação de desistência deve ser feita diretamente à sol do caribe Cosmetics. Neste momento será fornecido um número de identificação e confirmação da solicitação; <br>
    5. A responsabilidade pelo envio do produto a ser devolvido à sol do caribe Cosmetics é do cliente; <br>
    6. O ressarcimento do valor pago será realizado conforme forma de pagamento original do pedido, sendo: <br>
    
    1. Cartão de crédito: estorno na fatura do cartão de crédito, com prazo entre uma a duas faturas, dependendo da data de vencimento do cartão e do fechamento da fatura pela Administradora do Cartão de Crédito; <br>
    2. Outros meios que não por cartão de crédito: ressarcimento em conta corrente, em até 7 (sete) dias úteis, contados a partir do retorno da mercadoria à sol do caribe Cosmetics. <br></p>
   <p>3. Defeito <br>
    O prazo para reclamação do defeito diretamente à sol do caribe Cosmetics é de até 7 (sete) dias corridos, a contar do recebimento do produto; <br>
    O produto deverá ser encaminhado à sol do caribe Cosmetics na embalagem original, acompanhado dos manuais e acessórios, e obrigatoriamente deve estar acompanhado da nota fiscal de venda. Caso não tenha a via da nota fiscal de venda não aceitaremos a solicitação de troca; <br>
    A retirada do produto defeituoso será realizada no endereço de entrega do mesmo, através dos parceiros de transporte à sol do caribe Cosmetics . O prazo para realização da retirada será informado pela Central de Atendimento no momento da solicitação de troca; <br>
    O novo produto somente será enviado após recebimento do produto defeituoso pela sol do caribe Cosmetics  e análise do defeito relatado; <br>
    A sol do caribe Cosmetics  se isenta da responsabilidade de trocar qualquer produto que tenha o defeito ocasionado por mau uso; <br>
    O prazo para a realização da troca será informado no momento da abertura da solicitação junto a Central de Atendimento sol do caribe Cosmetics. O prazo poderá variar, de acordo com a região e disponibilidade de estoque do produto a ser trocado; <br>
    </p>
<p>4. Outros Motivos de Troca e Devolução <br>
    1. Caso ocorra qualquer irregularidade no ato da entrega, solicitamos que recuse o recebimento da mercadoria e em seguida comunique a Central de Atendimento do sol do caribe Cosmetics. <br>
    2. Se o produto for recebido, o prazo para solicitação da devolução por motivo de irregularidade na entrega, será de até 48 horas a contar do recebimento; <br>
    3. O que deve ser observado no momento do recebimento do pedido: <br>
    
    1. Embalagem aberta ou avariada; <br>
    2. Produto avariado; <br>
    3. Produto em desacordo com o adquirido no momento da compra.</p>
<p>5. Formas de Ressarcimento <br>
    1. O ressarcimento dos valores pagos será realizado conforme forma de pagamento original do pedido, sendo: <br>
    
     
    
    1. Cartão de crédito: estorno na fatura do cartão de crédito, com prazo entre uma a duas faturas, dependendo da data de vencimento do cartão e do fechamento da fatura pela Administradora do Cartão de Crédito; <br>
    2. Outros meios que não por cartão de crédito: ressarcimento em conta corrente, em até 7 (sete) dias úteis, contados a partir do retorno da mercadoria à sol do caribe Cosmetics. <br>
     </p>

</div>

{% endblock %}